---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <h1 itemprop="name headline">{{ page.title | escape }}</h1>
  <p>
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ page.date | date: date_format }}
    </time>
  </p>

  <div itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<div id="disqus_thread" style="margin-top: 40px;"></div>
<script>
(function() {
var d = document, s = d.createElement('script');
s.src = 'https://vblinden-blog.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            