$primary: #2563eb;
$container-max-widths: (
  sm: 540px,
  md: 720px,
);

@import '~bootstrap';

.cursor-pointer {
  cursor: pointer;
}

body {
  font-family: serif;
  line-height: 1.1;
}

pre code {
  padding: 1rem !important;
}
