$primary: #2563eb;
$container-max-widths: (
  sm: 540px,
  md: 720px,
);

@import '~bootstrap';

.cursor-pointer {
  cursor: pointer;
}

body {
  font-family: 'Roboto Slab', serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
